@{
    ViewBag.Title = "Parâmetros";
}

<div class="jumbotron">
    <h1>Passagem de Parâmetros na Controller!</h1>
    <p class="lead">ASP.NET MVC 5 is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>