<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("Index","Home")" class="btn btn-info">Voltar</a>
        <input type="submit" value="Entrar" class="btn btn-default" />
    </div>
</div>

